.toolbutton {
  color: #fff !important;
  border-color: #fff !important;
}

.toolb {
  justify-content: space-between !important;
}

.box1 {
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  justify-content: center;
}

.appb {
  border-radius: 10px !important;
  align-items: center;
}

.box2 {
  width: 80%;
}
